<?xml version="1.0"?>
<Settings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <clearSelection>Escape</clearSelection>
  <deleteAction>Delete</deleteAction>
  <clearTankAlgorithm>Back</clearTankAlgorithm>
  <none>N</none>
  <moveForward>F</moveForward>
  <moveBackward>B</moveBackward>
  <moveForward45CW>NumPad9</moveForward45CW>
  <moveForward45CCW>NumPad7</moveForward45CCW>
  <moveBackward45CW>NumPad1</moveBackward45CW>
  <moveBackward45CCW>NumPad3</moveBackward45CCW>
  <moveRotateCW>NumPad8</moveRotateCW>
  <moveRotateCCW>NumPad2</moveRotateCCW>
  <chargeRefuel>R</chargeRefuel>
  <chargePressure>P</chargePressure>
  <chargeCharge>C</chargeCharge>
  <turretUp>U</turretUp>
  <turretDown>D</turretDown>
  <turretShoot>S</turretShoot>
  <turretRotateCW>NumPad6</turretRotateCW>
  <turretRotateCCW>NumPad4</turretRotateCCW>
  <run>F5</run>
  <reload>F6</reload>
  <step>F7</step>
  <clearParallelAlgorithm>F8</clearParallelAlgorithm>
  <timeToHold>200</timeToHold>
  <connectionString>data source =.\sqlexpress; initial catalog = FireTankAdmin2; integrated security = True;</connectionString>
</Settings>