USE [FireTankAdmin]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 31.05.2018 16:00:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AlgorithmModels]    Script Date: 31.05.2018 16:00:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AlgorithmModels](
	[Id] [uniqueidentifier] NOT NULL,
	[XmlContent] [xml] NOT NULL,
	[Result] [float] NOT NULL,
	[Success] [bit] NOT NULL,
	[CreationDate] [datetime] NOT NULL,
	[Map_Id] [uniqueidentifier] NOT NULL,
	[User_Id] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_dbo.AlgorithmModels] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MapModels]    Script Date: 31.05.2018 16:00:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MapModels](
	[Id] [uniqueidentifier] NOT NULL,
	[XmlContent] [xml] NULL,
 CONSTRAINT [PK_dbo.MapModels] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UserModels]    Script Date: 31.05.2018 16:00:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserModels](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Patronymic] [nvarchar](50) NOT NULL,
	[Lastname] [nvarchar](50) NOT NULL,
	[Login] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_dbo.UserModels] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[UserModels] ([Id], [Name], [Patronymic], [Lastname], [Login], [Password]) VALUES (N'b792720a-9e3d-4d16-8cae-ee99cb73c688', N'Имя', N'Отчество', N'Фамилия', N'admin', N'admin')
ALTER TABLE [dbo].[AlgorithmModels]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AlgorithmModels_dbo.MapModels_Map_Id] FOREIGN KEY([Map_Id])
REFERENCES [dbo].[MapModels] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AlgorithmModels] CHECK CONSTRAINT [FK_dbo.AlgorithmModels_dbo.MapModels_Map_Id]
GO
ALTER TABLE [dbo].[AlgorithmModels]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AlgorithmModels_dbo.UserModels_User_Id] FOREIGN KEY([User_Id])
REFERENCES [dbo].[UserModels] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AlgorithmModels] CHECK CONSTRAINT [FK_dbo.AlgorithmModels_dbo.UserModels_User_Id]
GO
